@import "partials/_normalize.scss";
@import "partials/_variables.scss";

html {
  font-size: 62.5%;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: #595959;
  // background-image: url('./images/background_attr.png');
}

.kg-menubar {
  padding-left: 30vw;
  display: flex;
  width: 100vw;
  height: 3.2rem;
  background-color: $kg-tangelo;
  &--logo {
    width: 40vw;
  }
  &--nav {
    width: 30vw;
  }
}

.kg-logo {
  padding: 0.7rem;
}
.kg-logo--medium {
  margin: auto;
  width: 8rem;
  height: 2.4rem;
}

.kg-nav {
  width: 100%;
}

.kg-btn {
  float: right;
  margin: 0.7rem;
  width: 1.7rem;
  height: 1.7rem;
}
